

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button{
    padding: 5px;
    background-color: rgb(135, 158, 158);
}
.search {
    margin: 5px;
    padding: 5px;
}
#searchInput{
    padding: 8px;
}
.output{
    list-style: none;
    
}