

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button{
    padding: 5px;
    background-color: rgb(135, 158, 158);
}
.search {
    margin: 5px;
    padding: 5px;
}
#searchInput{
    padding: 8px;
}
.output{
    list-style: none;

}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.tableOutput{
    background-color: aquamarine;
    border: 1px solid black;
}
.tableHeader{
    font-size: 20px;
    padding:  6px;
    margin: 30px;
}
ul {
    border: 1px solid black;
}

th{
    min-width: 250px;
    border-left: 1px solid black;
}
td {
    text-align: center;
    min-width: 200px;
    border-left: 1px solid black;
}